<div class="container" *ngIf="rentPoint">
  <h2>{{rentPoint.address | uppercase}} Details</h2>
  <div><span>id: </span>{{rentPoint.id}}</div>
  <div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Address</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><input [(ngModel)]="rentPoint.address" placeholder="name"/></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="rentPoint.carList.length > 0">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Car Model</th>
        <th>Car Number</th>
        <th>Available</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let car of rentPoint.carList">
        <td>{{car.name}}</td>
        <td>{{car.number}}</td>
        <td>{{car.available | isAvailable}}</td>
        <td *ngIf="car.available"><a routerLink="/car/{{car.id}}"><button class="btn btn-success pull-right" >Rent </button></a>Rent</td>
        <td *ngIf="!car.available"><button class="btn btn-info" (click)="goBack()">Return</button></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="container row">
    <div class="row" style="padding-right: 10%; padding-left: 3%">
      <button class="btn btn-info" (click)="goBack()">Go back</button>
    </div>
    <div class="row" style="padding-right: 10%">
      <button class="btn btn-success" (click)="save()">Edit</button> <br>
    </div>
    <div class="row" style="padding-right: 10%">
      <button class="btn btn-danger" (click)="delete()">Delete</button> <br>
    </div>
  </div>
</div>
