<mat-toolbar color="primary">

  <div class="row" style="padding-right: 3%; padding-left: 2%">App </div>

  <div class="row" style="padding-right: 3%" ><a href="cars" class="btn btn-outline-light"> Cars</a></div>

  <div class="row" style="padding-right: 3%"><a href="rent-points" class="btn btn-outline-light">Rent Points</a></div>

  <div class="row" style="padding-right: 3%"><a href="statistic" class="btn btn-outline-light">Statistic</a></div>


</mat-toolbar>
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div>
  <router-outlet></router-outlet>
</div>


