<div class="col-md-6">
  <h3>Add new car: </h3>
  <div class="container row">
    <ul>
      <li>Car model:</li>
      <input class="input-group-text" #carName /> <br>
      <li>Car number:</li>
      <input class="input-group-text" #carNumber /> <br>
      <li>Current point:</li>
      <input class="input-group-text" #carPoint /> <br>
      <button class="btn btn-info" (click)="add(carName.value, carNumber.value, carPoint.value, true); carName.value=''; carNumber.value=''; carPoint.value=''">
        add
      </button>
    </ul>
  </div>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Model</th>
    <th>Number</th>
    <th>Point</th>
    <th>Available</th>
    <th>Details</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let car of cars">
    <td>{{car.name}}</td>
    <td>{{car.number}}</td>
    <td>{{car.currentPoint}}</td>
    <td>{{car.available | isAvailable}}</td>
    <td><a routerLink="/cars/{{car.id}}"><button class="btn btn-outline-success pull-right" >Car details </button></a></td>
    <td *ngIf="!car.available"><a routerLink="/cars/return/{{car.id}}/{{car.number}}"><button class="btn btn-success pull-right" >Return </button></a></td>
  </tr>
  </tbody>
</table>
</div>
